<div class='main-nav'>
    <div class='navbar navbar-dark bg-dark navbar-expand-sm'>
        <a class='navbar-brand' [routerLink]='["/"]'>Push</a>
        <button type='button' class='navbar-toggler' data-toggle='collapse' data-target='.navbar-collapse' (click)='toggle()'>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class='navbar-collapse collapse' [ngClass]='{ "collapse": !isExpanded }'>
            <ul class='navbar-nav flex-column'>
                <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
                    <a class="nav-link" [routerLink]='["/"]' (click)='collapse()'>
                        <i class='fa fa-home'></i> Home
                    </a>
                </li>
                <li class="nav-item" [routerLinkActive]='["link-active"]'>
                    <a class="nav-link" [routerLink]='["/notifications"]' (click)='collapse()'>
                        <i class="fa fa-envelope" aria-hidden="true"></i> Notifications <span class="badge badge-secondary" *ngIf="notificationMiddleware.notifications.length">{{notificationMiddleware.notifications.length}}</span>
                    </a>
                </li>
                <li class="nav-item" [routerLinkActive]='["link-active"]'>
                    <a class="nav-link" [routerLink]='["/broadcast"]' (click)='collapse()'>
                        <i class='fa fa-bullhorn'></i> Broadcast
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>